#card_news_item{
    #card_news_item_title{
        font-size: 0.9em;
    }

    .card{
        border-color: #333;
    }

    .card-header{
        background-color: #333;
        color: white;
        font-weight: bold;
    }

    .card-block{

    }
}

#div_news_cards{
    height: 55em;
    overflow: scroll;
}

/* Classes */

iframe{
    width: 100%;
}