<!--Info view for info_mode in the usertracked component's user tracked games card-->
<ngb-tabset>
    <ngb-tab title="News">
        <ng-template ngbTabContent>
            <section id="loading_news" *ngIf="!gameNewsItems && isLoadingNewsItems">
                <div id="div_loading_news">
                    <h2>Loading</h2>
                    <i class="fa fa-cog fa-spin fa-3x fa-fw"></i>
                </div>
            </section>
            <div id="div_news_cards">
                <div id="card_news_item" class="card card-outline-primary" *ngFor="let newsItem of gameNewsItems">
                    <div class="card-header"><a href="{{newsItem.url}}">{{newsItem.title}}</a></div>
                    <div class="card-block">
                        <span id="card_news_item_title" class="card-title"><em>{{newsItem.date}}</em></span>
                        <hr>
                        <p>
                            {{newsItem.desc}}
                        </p>
                    </div>
                </div>
            </div>
        </ng-template>
    </ngb-tab>
    <ngb-tab title="Media">
        <ng-template ngbTabContent>
            <section id="loading_media" *ngIf="!gameMediaItems && isLoadingMediaItems">
                <div id="div_loading_media">
                    <h2>Loading</h2>
                    <i class="fa fa-cog fa-spin fa-3x fa-fw"></i>
                </div>
            </section>
            <ngb-pagination [collectionSize]="gameMediaItems.length" [(page)]="mediaPage" [pageSize]="5" [boundaryLinks]="true"></ngb-pagination>
            <div id="div_media_cards">
                <div id="card_media_item" class="card card-outline-primary" *ngFor="let mediaItem of gameMediaItems.slice(mediaPage*5, mediaPage*5 + 5)">
                    <div class="card-header"><a href="{{mediaItem.url}}">{{mediaItem.title}}</a></div>
                    <div class="card-block">
                        <div id="div_youtube_video">
                            <iframe [src]="mediaItem.url | safe"></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <ngb-pagination [collectionSize]="gameMediaItems.length" [(page)]="mediaPage" [pageSize]="5" [boundaryLinks]="true"></ngb-pagination>
        </ng-template>
    </ngb-tab>
</ngb-tabset>
