*.DS_Store
node_modules
data.db
workspace.xml
*workspace.xml
.idea
.idea*
.env
bfg*
/**/*compiled.js
replace.txt
testDBScript.sh
*compiled*.js
*compiled*.js.map
*compiled.js
client/builds/
**/MainAppStyle.css
npm-debug.log
client/bower_components/**/*
.vscode
package-lock.json
yarn.lock
