<div class='toptrackedgames'>
    <!--div class="row topGames"-->
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div id="topTrackedDiv">
            <h1 style="color: white;"><i class="fa fa-list-ol"></i> Top Tracked Games
                <span ng-if="toptrackedgames.loading" class="glyphicon glyphicon-refresh spinning "></span>
            </h1>
            <ul class="list-inline">
                <li ng-repeat="game in toptrackedgames.topGames" class="topGamesDiv panel panel-default">
                    <div ng-init="num = $index + 1">
                        <p align="center" style="height: 50px;">{[{game.name}]}</p>
                        <img ng-src="{[{game.imageLink}]}">
                        <button data-toggle="modal" data-target="#showAddedModal" class="btn btn-primary-outline pull-right" style="display: inline;"
                            ng-click="addTrackedGame(game)">Add</button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-2"></div>

</div>