<!--Template for each item in the list of user tracked games in the usertracked component's card for user tracked games-->
<section id="tracked_game_item">
    <div class="container">
        <div class="row">
            <div id="span_user_game_img_holder" class="col-2">
                <img class="img img-fluid rounded align-middle" [src]='game.imageLink.icon_url'>
            </div>
            <div id="span_game_name" class="col-8">
                <span>{{game.name}}</span>
            </div>
            <div class="col-2" id="remove_button_col">
                <div id="remove_button_container">
                    <button class="btn btn-danger" *ngIf="isRemoveMode" (click)="removeTrackedGame($event)">X</button>
                </div>
            </div>
        </div>
    </div>
</section>