/* Classes */

.card {
    width: 3em;
    height: 3em;
}

.tag {
    vertical-align: middle;
}


/* Ids */

#span_user_game_img_holder {
    overflow: hidden;
    vertical-align: middle;
    padding: 10px 0px 10px 10px;
}

#span_game_name {
    display: inline-block;
    padding-left: 5px;
    font-size: 2em;
    line-height: 2em;
    max-height: 4em;
    text-overflow: ellipsis;
    float: left;
    text-align: center;
}

#tracked_game_item {
    background-color: #333;
    color: white;
    overflow: hidden;
    border-color: #555;
    margin-bottom: 2px;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
        background-color: #444
    }
    .tag {
        margin-top: 3.25em;
        float: right;
        background-color: #0275d8;
    }
}

#remove_button_col{
    padding-right: 0;
}

#remove_button_container{
    width: 100%;
    height: 100%;
    button.btn{
        cursor: pointer;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        float: right;
        height: 100%;
    }
}

#countdown_timer{
    text-align: center;
    padding-bottom: 5px;
}
