<!DOCTYPE html>
<html>
<head>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <title>Upcoming</title>

  <style>
  body {
    background-color: dodgerblue;
  }
  </style>

  <script>
  $(document).ready(function(){
    $('#news-table a[href="#1"]').tab('show');
  });
  </script>
</head>
<body>

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="underscore.js"></script>
<script src="index.js"></script>
<div ng-app="upcomingGames" ng-controller="mainCtrl">
  <div class="container">
    <div class="row">
    </div>
      <div class="row" style="color: white">
          <div class="col-md-9"></div>

          <div class="col-md-3 rounded">
              <div align="right"><b>Signed in with:</b>
              <img style="background-color: black; width:100px;padding:10px;" src="http://store.akamai.steamstatic.com/public/shared/images/header/globalheader_logo.png">
              </div>
              <div align="right">UserName: <b>{{userName}}</b></div>
                  <a style="float:right; color: white; font-weight: bold; text-decoration: underline" href="/logout">Logout</a>
              <br/>
          </div>
      </div>
      <br/>
  </div>

  <div class="container">
    <div class="row">
    </div>
    <div class="row">
      <div class="col-md-4" style="background-color: lightblue; height: 500px;">
          Search:
          <div class="dropdown">
              <form style="display: inline" ng-submit="searchGames(); toggleRes()">
                <input id="searchGamesIn">
              </form>
              <button id="searchGamesButton" ng-click="searchGames()" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">Search</button>
              <div style="display: none;" id="searchingIndicator">Searching...</div>
              <div style="display: none;" id="noResultsIndicator">No Results...</div>

              <ul class="dropdown-menu" aria-labelledby="dLabel" id="searchRes" ng-if="searchResults.length > 0" style="overflow-y: scroll; height: 440px;">
                  <li class="list-group-item" ng-repeat="res in searchResults">
                      <div class="row">
                          <div class="col-md-8">
                              <img height ="80" width="80" ng-src="{[{res.imageLink}]}">
                              <p>{[{res.name}]}</p>
                          </div>
                          <div class="col-md-4">
                              <button name="AddButton" ng-click="addTrackedGame(res)">Add</button>
                          </div>
                      </div>
                  </li>
              </ul>
              </div>
        <table class="table">
          <thead>
            <tr>
              <th>
                Upcoming Games
              </th>
            </tr>
          </thead>
          <tbody style="overflow-y: scroll; display: block; height: 410px;">
            <tr>
              <td>
                <br/>
              </td>
            </tr>
            <tr class="active"  ng-repeat="game in trackedGames" ng-click="getGameInfo(game)">
              <td style="color: {[{game.textColor}]}; background-color: {[{game.curColor}]};">
               {[{game.name}]}
                <br/>
                Updates: 5
              </td>
              <td>
                <img ng-src="{[{game.imageLink}]}">
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-1">
      </div>
      <div class="col-md-7" style="background-color: white; height: 500px;">
        <ul class="nav nav-tabs" id="news-table">
          <li>
            <a href="#1" data-toggle="tab">Popular News</a>
          </li>
          <li>
            <a href="#2" data-toggle="tab">Media</a>
          </li>
          <li>
            <a href="#3" data-toggle="tab">Pre-Order Info</a>
          </li>

        </ul>

        <div class="tab-content" style="overflow-y: scroll; height: 450px;">
          <div class="tab-pane" id="1">
            <table class="table">
              <thead>
              </thead>
              <tbody>
                <tr ng-if="newsArticles" ng-repeat="art in newsArticles">
                  <td>
                    <p>{[{art.date}]}</p>
                  </td>
                  <td>
                      <a ng-href="{[{art.url}]}" style="font-weight: bold">{[{art.title}]}</a>
                      <p>{[{art.desc}]}</p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="tab-pane" id="2">
            <table class="table">
              <thead>
                <tr>

                </tr>
              </thead>
              <tbody>
                <tr ng-if="mediaItems" ng-repeat="media in mediaItems">
                  <td>
                    <img ng-src="{[{media.imgsrc}]}"/>
                  </td>
                  <td>
                      <a ng-href="{[{media.url}]}" style="font-weight: bold">{[{media.title}]}</a>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
          <div class="tab-pane" id="3">
            <table class="table">
              <thead>
                <tr>

                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    Image here3
                  </td>
                  <td>
                    https://www.google.com
                    <br/>
                    Description here3
                  </td>
                </tr>
                <tr>
                  <td>
                    Image here3
                  </td>
                  <td>
                    https://www.google.com
                    <br/>
                    Description here3
                  </td>
                </tr>
                <tr>
                  <td>
                    Image here3
                  </td>
                  <td>
                    https://www.google.com
                    <br/>
                    Description here3
                  </td>
                </tr>
                <tr>
                  <td>
                    Image here3
                  </td>
                  <td>
                    https://www.google.com
                    <br/>
                    Description here3
                  </td>
                </tr>
                <tr>
                  <td>
                    Image here3
                  </td>
                  <td>
                    https://www.google.com
                    <br/>
                    Description here3
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-5" style="align: middle;">
        <br/>


      </div>

      <div class="col-md-9"/>
    </div>
  </div>
</div>
</body>
</html>
