<!DOCTYPE html>
<html>
<head>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

  <!-- Latest compiled JavaScript For bootstrap -->
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <title>Upcoming</title>

  <!--Import our stylesheets-->
  <link rel="stylesheet" type="text/css" href="MainAppStyle.css">

  <!--Select tab to show on start in game info area-->
  <script>
  $(document).ready(function(){
    $('#news-table a[href="#1"]').tab('show');
  });
  </script>
</head>
<body>

<!--Import angular.js and other scripts-->
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="underscore.js"></script>
<script src="index.js"></script>

<!--Top Head area-->
<div ng-app="upcomingGames" ng-controller="mainCtrl">
  <div class="container">
    <div class="row">
    </div>
      <div class="row" style="color: white">
          <div class="col-md-9"></div>

          <!--Logged in user information and service used to authenticate-->
          <div class="col-md-3 rounded">
              <div align="right"><b>Signed in with:</b>
              <img class="loginService" src="http://store.akamai.steamstatic.com/public/shared/images/header/globalheader_logo.png">
              </div>
              <div align="right">UserName: <b>{{userName}}</b></div>
                  <a id="logout" href="/logout">Logout</a>
              <br/>
          </div>
      </div>
      <br/>
  </div>

  <!--Main Content-->
  <div class="container">
    <div class="row">
    </div>
    <div class="row">

      <!--Box that contains tracked games and searching (On left of page)-->
      <div class="col-md-4" id="trackedGamesBox">

          <!--Search Games area-->
          <div style="margin-top: 5px;" class="dropdown">
              <form style="display: inline" ng-submit="searchGames(); toggleRes()">
                <input id="searchGamesIn">
              </form>
              <button id="searchGamesButton" ng-click="searchGames()" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">Search</button>

              <!--Searching indicators-->
              <div style="display: none;" id="searchingIndicator">Searching...</div>
              <div style="display: none;" id="noResultsIndicator">No Results...</div>

              <!--Search results dropdown-->
              <ul class="dropdown-menu"
                  aria-labelledby="dLabel"
                  id="searchRes"
                  ng-if="searchResults.length > 0"
                  style="overflow-y: scroll; height: 440px;">

                  <!--Search result item-->
                  <li class="list-group-item" ng-repeat="res in searchResults">
                      <div class="row">
                          <div class="col-md-8">
                              <img height ="80" width="80" ng-src="{[{res.imageLink}]}">
                              <p>{[{res.name}]}</p>
                          </div>
                          <div class="col-md-4">
                              <button name="AddButton" ng-click="addTrackedGame(res)">Add</button>
                          </div>
                      </div>
                  </li>
              </ul>
              </div>

          <!--Contains the tracked games elements-->
          <div class="panel panel-default">
              <div class="panel-heading" style="font-size: 24px; font-weight: bold;">Tracked Unreleased Games</div>
          <table class="table">





          <!--List of tracked games-->
          <tbody style="overflow-y: scroll; display: block; height: 410px;">

            <!--Element that contains one tracked game, this is repeated for each tracked game-->
            <tr class="active"  style="border: 2px solid black; border-radius: 3px;" ng-repeat="game in trackedGames" ng-click="getGameInfo(game)">
              <td style="color: {[{game.textColor}]}; background-color: {[{game.curColor}]};">
               <p style="font-weight: bold;">{[{game.name}]}</p>
                Updates: 5
                <br/>

                <!--Release date text-->
                <p ng-if="game.releaseMonth != null && game.releaseDay != null && game.releaseYear != null"
                   ng-init="ttr = getTTR(game.releaseMonth, game.releaseDay, game.releaseYear)">
                    Release Date: {[{game.releaseMonth}]}/{[{game.releaseDay}]}/{[{game.releaseYear}]}
                    <br/>
                    <!--Release countdown-->
                    TTR:{[{ttr.yrs}]}yr. {[{ttr.mons}]} mon. {[{ttr.days}]} days {[{ttr.hrs}]} hrs. {[{ttr.min}]} min.
                    {[{ttr.sec}]} secs.
                </p>
              </td>
              <td>

                <!--Image of the game-->
                <img ng-src="{[{game.imageLink}]}">
                <button style="{[{remStyle}]}" name="removeGameButton" ng-click="removeTrackedGame(game)">Remove</button>
              </td>
            </tr>
          </tbody>
        </table>
        </div>

        <!--Button that toggles the remove games mode-->
        <button style="display: inline;" id="removeGamesToggle" type="button" class="btn btn-primary-outline" name="removeGamesToggle" ng-click="toggleRemGames()">{[{remToggle ? "Done" : "Remove Games"}]}</button>
      </div>
      <div class="col-md-1">
      </div>

      <!--Tabs area that contains Media, news, etc. when game is selected-->
      <div class="col-md-7" id="gameInfoTabs">
        <ul class="nav nav-tabs" id="news-table">
          <li>
            <a href="#1" data-toggle="tab">Popular News</a>
          </li>
          <li>
            <a href="#2" data-toggle="tab">Media</a>
          </li>
          <li>
            <a href="#3" data-toggle="tab">Pre-Order Info</a>
          </li>
        </ul>

        <div class="tab-content" style="overflow-y: scroll; height: 450px;">

          <!--News tab-->
          <div class="tab-pane" id="1">
            <table class="table">
              <thead>
              </thead>
              <tbody>

                <!--Element for each news article-->
                <tr ng-if="newsArticles" ng-repeat="art in newsArticles">
                  <td>
                    <p>{[{art.date}]}</p>
                  </td>
                  <td>
                      <a ng-href="{[{art.url}]}" style="font-weight: bold">{[{art.title}]}</a>
                      <p>{[{art.desc}]}</p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <!--Media/video tab-->
          <div class="tab-pane" id="2">
            <table class="table">
              <thead>
                <tr>
                </tr>
              </thead>
              <tbody>

              <!--Element for each Media item-->
                <tr ng-if="mediaItems" ng-repeat="media in mediaItems">
                  <td>
                    <img ng-src="{[{media.imgsrc}]}"/>
                  </td>
                  <td>
                      <a ng-href="{[{media.url}]}" style="font-weight: bold">{[{media.title}]}</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <!--Pre-Order Info tab-->
          <div class="tab-pane" id="3">
            <table class="table">
              <thead>
                <tr>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    Image here3
                  </td>
                  <td>
                    https://www.google.com
                    <br/>
                    Description here3
                  </td>
                </tr>
                <tr>
                  <td>
                    Image here3
                  </td>
                  <td>
                    https://www.google.com
                    <br/>
                    Description here3
                  </td>
                </tr>
                <tr>
                  <td>
                    Image here3
                  </td>
                  <td>
                    https://www.google.com
                    <br/>
                    Description here3
                  </td>
                </tr>
                <tr>
                  <td>
                    Image here3
                  </td>
                  <td>
                    https://www.google.com
                    <br/>
                    Description here3
                  </td>
                </tr>
                <tr>
                  <td>
                    Image here3
                  </td>
                  <td>
                    https://www.google.com
                    <br/>
                    Description here3
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-5" style="align: middle;">
        <br/>
      </div>
      <div class="col-md-9"/>
    </div>
  </div>

    <!--Contributions, and references footer-->
    <div style="border-top: 2px solid; border-color: black; color: grey; background-color: white; font-size: 11px;margin-top: 50px;" class="row" name="footerRow">
        <p>Powered by Steam: <a href="http://steampowered.com">http://steampowered.com</a> <br>
        GiantBomb's Game database: <a href="http://giantbomb.com">http://GiantBomb.com</a><br>
        Microsoft's Bing Search Engine: <a href="http://bing.com">http://Bing.com</a></p>

    </div>
</div>
</body>
</html>
