<!DOCTYPE html>
<html>
<header>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src='index.js'></script>
</header>

<input id="searchGamesIn">
<button id="searchGamesButton" onclick="searchGames()">Search</button>
<div style="display: none;" id="searchingIndicator">Searching...</div>
<div id="searchResults"></div>

</html>