<!DOCTYPE html>
<html>
<header>
    <meta charset="UTF-8">


    <!--Bootstrap stuff-->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

</header>

<body>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src='index.js'></script>

    <div ng-app="upcomingGames" ng-controller="mainCtrl">
        <div class="row">
            <div class="col-md-5">
                <input id="searchGamesIn">
                <button id="searchGamesButton" ng-click='searchGames()'>Search</button>
                <div style="display: none;" id="searchingIndicator">Searching...</div>

                <ul id="searchRes" ng-if="searchResults" class="list-group">
                    <li class="list-group-item" ng-repeat='res in searchResults' ng-click='getArticles(res)'>
                        <img height ="80" width="80" ng-src="{[{res.imageLink}]}">
                        <p>{[{res.name}]}</p>
                    </li>
                </ul>

            </div>
            <div class="col-md-7">
                <ul class="list-group">
                    <li class="list-group-item" ng-if="newsArticles" ng-repeat='art in newsArticles'>
                        <p>{[{art.title}]}</p>
                        <p>{[{art.desc}]}</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</body>

</html>