<!DOCTYPE html>
<html>
<head>
    <title>Upcoming Game</title>
    <meta charset="UTF-8">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

    <!-- Latest compiled JavaScript For bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!--Import angular.js and other scripts-->
    <script src="angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-animate.js"></script>
    <script src="underscore.js"></script>
    <script src="countdown.min.js"></script>

    <!--Import our stylesheets-->
    <link rel="stylesheet" type="text/css" href="animate.css">
    <link rel="stylesheet" type="text/css" href="MainAppStyle.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato">

</head>
<body>

<!--Non-Debug/ For Production-->
<script src="maintracker.bundle.js"></script>

<!--Top Head area-->
<div ng-app="upcomingGames" ng-controller="mainCtrl">
    <div class="container">
        <div class="row">
        </div>
        <div class="row headingRow" id="headingRow">
            <div class="col-md-3">
                <img style="height: 100px" src="LogoLarge.png"/>
            </div>
            <div class="col-md-6"></div>

            <!--Logged in user information and service used to authenticate-->
            <div class="col-md-3 rounded pull-down">
                <div class="panel panel-default" style="margin-top: 10px;vertical-align: bottom;">
                    <div align="right"><i class="fa fa-user fa-2x pull-left" style="margin-top: 5px;margin-left: 15px;"></i>   <b>Signed in with:</b>
                        <img class="loginService"
                             src="http://store.akamai.steamstatic.com/public/shared/images/header/globalheader_logo.png">
                    </div>
                    <div align="right">UserName: <b>{{userName}}</b></div>
                    <a id="logout" href="/auth/logout" style="color: black">Logout</a>
                    <br/>
                </div>
            </div>
        </div>
    </div>

    <!--Tracked games and tabs row-->
    <div class="row" id="mainContent">
        <div class="header">
            <div scroll class="navbar navbar-default" ng-class="{navbar-fixed-top: scrolledTo}" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">

                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>

                    <div class="collapse navbar-collapse" id="js-navbar-collapse">

                        <ul class="nav navbar-nav">
                            <li ng-class="{ active: isActiveRoute('dashboardmain') }"><a href="#dashboardmain"><i class="fa fa-gamepad"></i> My Tracked</a></li>
                            <li ng-class="{ active: isActiveRoute('toptracked') }"><a href="#toptrackedgames"><i class="fa fa-bar-chart"></i> Top Tracked</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div ng-view="">
            </div>
        </div>
        </div>

    </div>

    <div class="modal fade" tabindex="-1" role="dialog" id="showAddedModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    Added game to tracked games!
                </div>
            </div>
        </div>
    </div>

    <!--Contributions, and references footer-->
    <div style="border-top: 2px solid; border-color: white; color: grey; background-color:#072039; font-size: 11px;"
         class="row" name="footerRow">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <p>Created by Joey Cruz and Benson Huynh, <a href="mailto:cruzjoey94@gmail.com">Contact cruzjoey94@gmail.com</a></p>

            <p>Powered by Steam: <a href="http://steampowered.com">http://steampowered.com</a> <br>
                GiantBomb's Game database: <a href="http://giantbomb.com">http://GiantBomb.com</a><br>
                Microsoft's Bing Search Engine: <a href="http://bing.com">http://Bing.com</a></p>

            <p>Logo Image Credits: <br/>
                Game, Xbox, Scholastics, Game graphics by
                <a href="http://www.freepik.com/">Freepik</a> from
                <a href="http://www.flaticon.com/">Flaticon</a> are licensed under
                <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a>.
                Made with <a href="http://logomakr.com" title="Logo Maker">Logo Maker</a></p>
        </div>
        <div class="col-md-2"></div>
    </div>

</div>
</body>
</html>
