<!DOCTYPE html>
<html>
<head>
    <title>Upcoming</title>
    <meta charset="UTF-8">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

    <!-- Latest compiled JavaScript For bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!--Import our stylesheets-->
    <link rel="stylesheet" type="text/css" href="MainAppStyle.css">
</head>
<body>

<!--Import angular.js and other scripts-->
<script src="angular.min.js"></script>
<script src="underscore.js"></script>
<script src="countdown.min.js"></script>

<!--TODO: debug scripts, get rid of these in production-->
<!--script src="index.js"></script>
<script src="httpRequestService.js"></script>
<script src="countdown.min.js"></script>
<script src="datamanagerservice.js"></script-->


<!--Non-Debug/ For Production-->
<script src="maintracker.bundle.js"></script>

<!--Top Head area-->
<div ng-app="upcomingGames" ng-controller="mainCtrl">
    <div class="container">
        <div class="row">
        </div>
        <div class="row" style="color: black">
            <div class="col-md-3">
                <img style="height: 100px" src="LogoLarge.png"/>
            </div>

            <div class="col-md-6"></div>

            <!--Logged in user information and service used to authenticate-->
            <div class="col-md-3 rounded pull-down">
                <div class="panel panel-default" style="margin-top: 10px;vertical-align: bottom;">
                    <div align="right"><b>Signed in with:</b>
                        <img class="loginService"
                             src="http://store.akamai.steamstatic.com/public/shared/images/header/globalheader_logo.png">
                    </div>
                    <div align="right">UserName: <b>{{userName}}</b></div>
                    <a id="logout" href="/logout" style="color: black">Logout</a>
                    <br/>
                </div>
            </div>
        </div>
    </div>

    <!--Tracked games and tabs row-->
    <div class="row" id="mainContent" ng-init="selectedTrackedGameIndex = -1">
        <div class="container">

            <!--Box that contains tracked games and searching (On left of page)-->
            <div class="col-md-5">
              <div ng-include="'usertrackedgames/usertrackedgames.html'"></div>
            </div>
            <div class="col-md-1">
            </div>

            <!--Tabs area that contains Media, news, etc. when game is selected-->
            <div class="col-md-6" id="gameInfoTabs">
                <div ng-include="'/tabbedcontent/tabbedcontent.html'"></div>
                </div>
            </div>
        </div>

    <!--Top Games Row of data-->
    <div class="row" id="topGames" style="padding-bottom: 50px;">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h1 style="color: white;">Top Tracked Games</h1>
            <ul class="list-inline">
                <li ng-repeat="game in topGames" class="topGamesDiv panel panel-default">
                    <div ng-init="num = $index + 1">
                        <p align="center" style="height: 50px;">{[{game.name}]}</p>
                        <img ng-src="{[{game.imageLink}]}">
                        <button class="btn btn-primary-outline pull-right" style="display: inline;" ng-click="addTrackedGame(game)">Add</button>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-md-2"></div>
    </div>

    <!--Contributions, and references footer-->
    <div style="border-top: 2px solid; border-color: white; color: grey; background-color:#072039; font-size: 11px;"
         class="row" name="footerRow">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <p>Created by Joey Cruz and Benson Huynh, <a href="mailto:cruzjoey94@gmail.com">Contact cruzjoey94@gmail.com</a></p>

            <p>Powered by Steam: <a href="http://steampowered.com">http://steampowered.com</a> <br>
                GiantBomb's Game database: <a href="http://giantbomb.com">http://GiantBomb.com</a><br>
                Microsoft's Bing Search Engine: <a href="http://bing.com">http://Bing.com</a></p>

            <p>Logo Image Credits: <br/>
                Game,Xbox,Scholastics,Game graphics by
                <a href="http://www.freepik.com/">Freepik</a> from
                <a href="http://www.flaticon.com/">Flaticon</a> are licensed under
                <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a>.
                Made with <a href="http://logomakr.com" title="Logo Maker">Logo Maker</a></p>
        </div>
        <div class="col-md-2"></div>
    </div>

</div>
</body>
</html>
