<!DOCTYPE html>
<html>

<head>
    <title>Upcoming Games</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato">

    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/animate.css/animate.min.css" />
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css" />
    <!-- endbower -->
    <!--Custom boostrap CSS-->
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="MainAppStyle.css">
</head>

<body>
    <!--Top Head area-->
    <div ng-app="upcomingGames" ng-controller="mainCtrl">
        <div class="container">
            <div class="row">
            </div>
            <div class="row headingRow" id="headingRow">
                <div class="col-md-3">
                    <img id='upcominggames_logo' style="padding-top: 10px; width: 500px; " src="LogoText.png" />
</div>
<div class="col-md-6"></div>

<!--Logged in user information and service used to authenticate-->
<div class="col-md-3 rounded pull-down">
    <div class="panel panel-default" id='user_id_panel'>
        <div>User: <b>{{userName}}</b></div>
        <a id="logout" href="/auth/logout">Logout</a>
        <br/>
    </div>
</div>
</div>
</div>

<!--Tracked games and tabs row-->
<div class="row" id="mainContent">
    <div class="header">
        <div scroll class="navbar navbar-default" ng-class="{ 'navbar-fixed-top': scrolledTo}" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">

                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                </div>

                <div class="collapse navbar-collapse" id="js-navbar-collapse">

                    <ul class="nav navbar-nav">
                        <li ng-class="{ active: isActiveRoute('/dashboardmain') }"><a href="#dashboardmain"><i class="fa fa-gamepad"></i> My Tracked</a></li>
                        <li ng-class="{ active: isActiveRoute('/toptrackedgames') }"><a href="#toptrackedgames"><i class="fa fa-bar-chart"></i> Top Tracked</a></li>
                        <li ng-class="{ active: isActiveRoute('/advancedsearch') }"><a href="#advancedsearch"><i class="fa fa-gamepad"></i> Advanced Search</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="main-view" class="container-fluid">
        <div ng-view="">
        </div>
    </div>
</div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="showAddedModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                Added game to tracked games!
            </div>
        </div>
    </div>
</div>

<!--Contributions, and references footer-->
<div style="border-top: 2px solid; border-color: white; color: grey; background-color:#072039; font-size: 11px;" class="row" name="footerRow">
<div class="col-md-2"></div>
<div class="col-md-8">
    <p>Created by Joey Cruz and Benson Huynh, <a href="mailto:cruzjoey94@gmail.com">Contact cruzjoey94@gmail.com</a></p>

    <p>Powered by Steam: <a href="http://steampowered.com">http://steampowered.com</a> <br> GiantBomb's Game database:
        <a href="http://giantbomb.com">http://GiantBomb.com</a><br> Microsoft's Bing Search Engine: <a href="http://bing.com">http://Bing.com</a></p>

    <p>Logo Image Credits: <br/> Game, Xbox, Scholastics, Game graphics by
        <a href="http://www.freepik.com/">Freepik</a> from
        <a href="http://www.flaticon.com/">Flaticon</a> are licensed under
        <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a>. Made with
        <a href="http://logomakr.com" title="Logo Maker">Logo Maker</a>
    </p>
</div>
<div class="col-md-2"></div>
</div>

</div>

<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/underscore/underscore.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<!-- endbower -->

<script src="countdown.min.js"></script>

<!--Non-Debug/ For Production-->
<script src="maintracker.bundle.js"></script>
</body>

</html>