<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="WelcomePagesStyle.css">
    <title>UCGames Welcome!</title>
</head>

<body>
    <div ng-app="welcomePage" ng-controller="welcomePageCntrl">
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script src="underscore.js"></script>
        <script src="welcomepage.bundle.js"></script>
        <div class="row" style="padding-top: 100px;">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <img style="height: 300px;margin-bottom: 30px" src="LogoLarge.png" />
                <br/>
                <p align="center" style="font-weight: bold; font-family: Helvetica,sans-serif; font-size: 30px">Welcome!</p>
                <div align="center" id="div_sign_in_buttons">
                    <div id='form_sign_in' class='form-group'>
                        <label>Email Address</label>
                        <input class='form-control' name='email'>
                        <label>Password</label>
                        <input class='form-control' name='password'>
                    </div>
                    <a id='button_sign_in' href="/auth/ucgames/signin" class="btn btn-info" role="button">Sign In</a>
                    <a id='button_sign_up' href="/auth/ucgames/signup" class="btn btn-info" role="button">Sign Up</a>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    </div>
</body>

</html>