<div ng-init="gameSelected = false;" ng-controller="tabbedcontent">
    <uib-tabset>

        <!--News tab-->
        <uib-tab index="0" heading="News">
            <div ng-controller="newstab" class="newsTab">
            <div ng-if="!gameSelected">
                <p>Select a tracked game...</p>
            </div>

            <div id="loadingNewsIcon" ng-if="loadingNews">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <span style="margin-top: 205px" class="glyphicon glyphicon-refresh spinning "></span>
                </div>
                <div class="col-md-4"></div>
            </div>

            <ul class="list-group" ng-if="newsArticles">

                <!--Element for each news article-->
                <li id="newsArtLi" ng-repeat="art in newsArticles">
                    <h4> <a ng-href="{[{art.url}]}" style="font-weight: bold">{[{art.title}]}</a></h4>
                    <p>Date: {[{art.date.split('T')[0]}]}</p>
                    <p>{[{art.desc}]}</p>
                </li>
            </ul>
            </div>
        </uib-tab>

        <!--Media/video tab-->
        <uib-tab index="1" heading="Media">
            <div class="newsTab" ng-controller="mediatab">
            <div id="loadingMediaIcon" ng-if="loadingMedia">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <span id="span-loadingwheel" class="glyphicon glyphicon-refresh spinning "></span>
                </div>
                <div class="col-md-4"></div>
            </div>
            <ul class="list-group">

                <!--Element for each Media item-->
                <li class="mediaitem" ng-if="mediaItems" ng-repeat="media in mediaItems|limitTo:10">
                    <h4><a ng-href="{[{media.url}]}" class="mediaitem__link">{[{media.title}]}</a></h4>
                    <iframe title="YouTube video player" class="youtube-player" type="text/html"
                            width="400" height="300"
                            ng-src="{[{media.url.replace('watch?v=', 'embed/')}]}"
                            frameborder="0" allowFullScreen></iframe>
                </li>
            </ul>
            </div>
        </uib-tab>

        <!--Friend's tracked games tab-->
        <uib-tab index="2" heading="Friend's Tracked">
            <div class="newsTab" ng-controller="friendstrackedgames">
            <div id="showAllFriends" class="checkbox newsTab__showallfriendscheckbox" >
                <label>
                    <input type="checkbox" ng-model="allFriends"> Show All
                </label>
            </div>
            <div class="panel panel-primary newsTab__frienditem" ng-repeat="friend in friends"
                 ng-if="friend.gameData.length > 0 || allFriends">
                <div class="panel-heading">
                    <img class="friendimage" ng-src="{[{friend.avatar}]}"/>
                    {[{friend.userid}]} | Tracking {[{friend.gameData.length}]} Games</div>
                <ul class="list-group" style="max-height: 300px; overflow-y: scroll;">

                    <!--Each game friend is tracking-->
                    <li class="list-group-item" ng-repeat="game in friend.gameData">
                        <img style="display: inline; margin-right: 50px;" ng-src="{[{game.imageLink}]}"/>
                        <h4 style="display: inline;">{[{game.name}]}</h4>
                        <button data-toggle="modal" data-target="#showAddedModal"
                                class="btn btn-primary-outline pull-right"
                                style="display: inline;" ng-click="addTrackedGame(game)">Add</button>
                    </li>
                </ul>
            </div>
            </div>
        </uib-tab>
    </uib-tabset>
</div>
