<nav class="navbar navbar-dark bg-inverse">
    <a class="navbar-brand" href="#">
        <b>UC Games</b>
    </a>
    <ul class="nav navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/usertracked']" [routerLinkActive]="['active']">Home <span class=" sr-only ">(current)</span></a>
        </li>
        <li class="nav-item ">
            <a class="nav-link " [routerLink]="['/toptracked']" [routerLinkActive]="['active']">Link</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link " href="# ">Link</a>
        </li>
        <li ngbDropdown class="nav-item dropdown ">
            <button class="btn btn-outline-primary" id="dropdownMenu1" ngbDropdownToggle>Tools</button>
            <div class="dropdown-menu " aria-labelledby="dropdownMenu1">
                <a class="dropdown-item " href="# ">Action</a>
                <a class="dropdown-item " href="# ">Another action</a>
                <a class="dropdown-item " href="# ">Something else here</a>
            </div>
        </li>
    </ul>
    <form class="form-inline float-xs-right ">
        <input #searchString class="form-control " type="text " placeholder="Find Games " (keyup.enter)='search(searchString.value)'>
        <button class="btn btn-outline-success " (click)='search(searchString.value)' type="submit ">Search</button>
    </form>
</nav>

<div class="container ">
    <!--Where our route view goes-->
    <router-outlet></router-outlet>
</div>