<!--Contains navbar and container for content of each route-->
<section id="info_alerts">
    <p *ngFor="let alert of alerts">
        <ngb-alert class="fade in" [type]="alert.type" (close)="closeAlert(alert)">
            {{alert.message}}
        </ngb-alert>
    </p>
</section>


<nav class="navbar navbar-expand-md navbar-light bg-faded fixed-top">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="# ">
        <b>UC Games</b>
    </a>

    <!--List of nav items-->
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="['/usertracked']" [routerLinkActive]="[ 'active'] ">My Tracked Games <span
                    class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/toptracked']" [routerLinkActive]="[ 'active'] ">Top Tracked Games</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/advancedsearch']">Advanced Search</a>
            </li>
            <a class="nav-link" href="/auth/logout">Sign Out</a>
            <li class="nav-item">

            </li>
        </ul>
    </div>
</nav>

<div class="container ">
    <!--Where our route view goes-->
    <router-outlet></router-outlet>
</div>