<h3>Top Tracked Games</h3>
<div *ngIf="topTrackedGames">
    <div *ngFor="let row of TopTrackedGroups; let rowNum = index" class="card-group">
        <div *ngFor="let game of row; let i = index" class="card card-inverse">
            <div class="card-title">
                <p>{{game.name}}</p>
            </div>
            <div id="card_img_holder">
                <img class="card-img-top" [src]="game.imageLink.super_url">
            </div>
            <div class="card-block">
                <button class="btn btn-outline-primary" id="btn_add_tracked" (click)="addTrackedGame(game.gbGameId)">Add</button>
            </div>
        </div>
    </div>
</div>