$ui-color-main: #333;
#div_row_tracked_main {
    padding-top: 10px;
    margin-top: 5px;
    border-top: 1px solid #0275d8;
}

#card-header_my_tracked {
    background-color: $ui-color-main;
    color: white;
    @media only screen and (max-width: 700px){
        text-align: center;
        padding-top: 5px;
    }
}

#div_game_mode {
    overflow: scroll;
    height: 100%;
}

#div_top_tracked_card {
    display:inline-block;
    width: 300px;
    background-size: 300px;
}

#top_tracked_summary_row {
    overflow: scroll;
    text-align: center;
    white-space: nowrap;
    .card-title {
        background: #333;
        color: white;
        text-align: center;
        font-size: 20pt;
    }
}

#row_top_tracked_summary_header {
    padding-top: 10px;
}

#div_info_mode {
    height: 100%;
}

#span_cur_mode_text {
    vertical-align: middle;
    padding-right: 10px;
    display: inline-block;
}

#input_group_search_my_tracked {
    input {
        border-color: #333;
    }
    button {
        background-color: #0275d8;
        color: white;
        border-color: #333;
    }
}

#btn_remove_mode_toggle{
    cursor: pointer;
}

#section_mode_compliment {
    padding-top: 5px;
    .align-middle {
        padding-top: 5px;
    }
}

#section_mode_compliment > span{
    display: inline-block;
    width: 100%;
    text-align: center;
}

#loading_my_tracked {
    #div_loading_my_tracked {
        width: 100%;
        text-align: center;
    }
}

.breadcrumb {
    width: 100%;
}

.tracking_card{
    .card-block{
        padding: 0px;
    }
}

#tracking_card_nav{
    vertical-align: middle;
    line-height: 100%;
}

#tracked_main_col{
    padding: 0px;
}

.gamesearch{
    display: inline-block;
    margin-left: 5px;
}

#toggle_filter_tracked{
    display: none;
}

.enabled{
    display: flex !important;
}

.disabled{
    display: none !important;
}

 @media screen and (max-width: 700px){

     #row_top_tracked_summary_header{
         h2{
             width: 100%;
             text-align: center;
         }
     }

     #input_group_search_my_tracked{
         display: none;
     }

    .gamesearch{
        width: 100%;
        float: none;
        margin-top: 5px
    }

    #tracking_card_nav{
        text-align: center;
        #back_button{
            position: absolute;
            left: 5px;
        }
    }

    #toggle_filter_tracked{
        display: inline-block;
        text-align: center;
        background: transparent;
        color: #0275d8;
        border: 0px;
        outline: none;
        cursor: pointer;
        font-size: 20px;
    }
}