<!--Template for usertracked component, Contains interactions for the user's tracked games-->
<!--Contains a few of the top tracked games-->
<section id="top_tracked_summary">
    <div id="row_top_tracked_summary_header" class="row">
        <h2>Top 5 Tracked Games</h2>
    </div>
    <div id="top_tracked_summary_row" class="rounded">
        <!--Few top tracked-->
        <div id="div_top_tracked_summary">
            <div>
                <div id="div_top_tracked_card" class="card" *ngFor="let game of someTopTracked" [ngStyle]="{'background-image': 'url(' + game.imageLink.screen_url + ')'}">
                    <div class="card-block">
                        <span class="card-title">{{game.name}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Contains the users tracked games and interactions for them-->
<section id="tracked_games">
    <div class="row" id="div_row_tracked_main">
        <div class="col-md-12 col-sm-12" id="tracked_main_col">

            <!--Card for currenly enabled mode-->
            <div class="card tracking_card">
                <h3 id="card-header_my_tracked" class="card-header">
                    <span>My Tracked Games</span>
                    <div class="gamesearch">
                        <app-gamesearch></app-gamesearch>
                    </div>
                </h3>

                <!--Card body for the current mode-->
                <div class="card-block">
                    <!-- Card Title Containing nav buttons for modes-->
                    <h4 class="card-title">
                        <div class="breadcrumb">
                            <div class="row">
                                <div class="col-md-7 col-sm-12" id="tracking_card_nav">
                                    <!--Button to navigate to the previous mode-->
                                    <button id="back_button" type="button" class="btn btn-primary" *ngIf="ModeStack && ModeStack.length > 0" (click)="selectPrevMode()">
                                        <i class="fa fa-chevron-left" aria-hidden="true"></i> <span
                                            class="align-center">Back</span>
                                    </button>

                                    <!--Area for interacting with the current mode's items-->
                                    <span class="text-center align-middle" id="span_cur_mode_text">{{ModeDisplayNames[CurMode]}}</span>
                                    <button id="btn_remove_mode_toggle" *ngIf="CurMode == GAME_MODE && !isLoadingTrackedGames" class="btn btn-outline-danger"
                                        (click)="toggleRemoveMode()">{{removeMode ? 'End Remove' : 'Remove Mode'}} </button>
                                    <button id="toggle_filter_tracked" (click)="toggleFilterEnabled()">
                                            <small>filter <i [ngClass]="{'fa-caret-square-o-down': !isFilterEnabled, 'fa-caret-square-o-up': isFilterEnabled}" 
                                            class="fa fa-caret-square-o-down" aria-hidden="true"></i></small>
                                    </button>
                                </div>

                                <!--Items that compliment the current mode's capabilities-->
                                <div class="col-md-5 col-sm-12">
                                    <section id="section_mode_compliment">

                                        <!--Contains fields for the game mode-->
                                        <div *ngIf="CurMode == GAME_MODE" [ngClass]="{'enabled': isFilterEnabled}" [formGroup]="searchMyTrackedForm" class="input-group" id="input_group_search_my_tracked">
                                            
                                            <!--Form for filtering user's tracked games by keywords-->
                                            <input [(ngModel)]="searchTrackedInput" formControlName="searchText" type="text" class="form-control" placeholder="Filter My Tracked...">
                                            <span class="input-group-btn">
                                                <button class="btn btn-secondary" type="submit"><i
                                                        class="fa fa-search" aria-hidden="true"></i>
                                                </button>
                                            </span>
                                        </div>

                                        <!--Fields for Info mode-->
                                        <span *ngIf="CurMode == INFO_MODE" class="align-middle"><strong>{{selectedGame.name}}</strong></span>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </h4>
                    <div class="card-text">
                        <div id="div_modes">

                            <!--Game Mode div, which shows the users currently tracked games-->
                            <div id="div_game_mode" *ngIf="CurMode == GAME_MODE">
                                <div class="list-group">
                                    <div *ngFor='let game of displayTrackedGames' (click)="selectTrackedGame(game)" class="rounded">
                                        <app-usertrackeditem [removeMode$]="getRemoveMode()" [game]="game"></app-usertrackeditem>
                                    </div>
                                </div>

                                <!--Indicate if items are loading from server-->
                                <section id="loading_my_tracked" *ngIf="!displayTrackedGames && isLoadingTrackedGames">
                                    <div id="div_loading_my_tracked">
                                        <h2>Loading</h2>
                                        <i class="fa fa-cog fa-spin fa-3x fa-fw"></i>
                                    </div>
                                </section>
                            </div>

                            <!--Info Mode div, which shows info for the currently selected game-->
                            <div id="div_info_mode" *ngIf="CurMode == INFO_MODE">
                                <app-gameinfoview class="h-100" [activeGame]="selectedGame"></app-gameinfoview>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>