$ui-color-main: #333;
#div_row_tracked_main {
    padding-top: 10px;
}

#card-header_my_tracked {
    background-color: $ui-color-main;
    color: white;
}

#div_modes {
    height: 60em;
}

#div_game_mode {
    overflow: scroll;
    height: 100%;
    .list-group-item {
        background-color: #333;
        color: white;
        height: 7em;
        overflow: hidden;
        &:hover {
            background-color: #444
        }
    }
}

#div_top_tracked_card {
    width: 20em;
    background-size: 20em;
}

#top_tracked_summary_row {
    overflow: scroll;
    .card-group {}
    .card-title {
        background: #333;
        color: white;
        text-align: center;
        font-size: 20pt;
    }
}

#row_top_tracked_summary_header {
    padding-top: 10px;
}

#top_tracked_summary {}

#div_info_mode{
    height: 100%;
}