<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="WelcomePagesStyle.css">
    <title>UCGames Sign Up</title>
</head>

<body>
    <div class="row" style="padding-top: 100px;">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <img style="height: 300px;margin-bottom: 30px" src="/LogoLarge.png" />
            <br/>
            <p align="center" style="font-weight: bold; font-family: Helvetica,sans-serif; font-size: 30px">Welcome!</p>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class='row'>
        <div class='col-md-4'> </div>
        <div class='col-md-4'>
            <form class='form-group' id='signup-form' action='/auth/ucgames/signup' method='POST'>
                <label>Email:</label>
                <input align='center' class='form-control' type='text' name='email'><br/>
                <label>Password:</label>
                <input align='center' id='password' class='form-control' type='password' name='password'>
                <label>Re-Enter Password:</label>
                <input align='center' id='checkpass' class='form-control' type='password'>
                <input id='button_submit_new_user' type='submit' class="btn btn-info"></input>
            </form>
            <div class='col-md-4'></div>
        </div>

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src='signupcontroller.js'></script>
    </div>
</body>

</html>