<div id="advanced-search-div" class="advancedsearch">
    <!--Row of search fields-->
    <div id="advanced-search-div-row" class="row">
      <!--Initial search-->
      <div class="col-md-6 col-xs-12">
        <form>
          <h2>Platform:</h2>

          <!--Radio options for platform-->
          <label>
            <input type='radio' ng-model='advancedsearch.platform' value="xbone">
            Xbox One
          </label><br/>
          <label>
            <input type='radio' ng-model='advancedsearch.platform' value="ps4">
            Playstation 4
          </label><br/>
          <label>
            <input type='radio' ng-model='advancedsearch.platform' value="pc">
            PC
          </label><br/>
          <label>
            <input type='radio' ng-model='advancedsearch.platform' value="wiiu">
            Wii U
          </label><br/>
          <label>
            <input type='radio' ng-model='advancedsearch.platform' value="android">
            Android
          </label><br/>
          <label>
            <input type='radio' ng-model='advancedsearch.platform' value="ios">
            iOS
          </label><br/>
          <label>
            <input type='radio'>
            Any
          </label><br/>

        </form>
      </div>
      <div class="col-md-6 col-xs-12">
        <h2>Release Date:</h2>
        Release Month: <br/>
        <select ng-model='advancedsearch.month' ng-options="month for month in advancedsearch.monthOptions" class="form-control"></select>
        </select>
        <br/>
        Release Year: <br/>
        <select ng-model='advancedsearch.year' ng-options="year for year in advancedsearch.yearOptions" class="form-control"></select>
        </select>
        <br/>
        <input type='submit' class="btn btn-primary" ng-click='advancedsearch.doSearch()'>
      </div>
    </div>

  <!--Results view-->
  <div class="row">

      <h2>Results</h2>
      <div ng-if="advancedsearch.results">No Results</div>
      <!--Each search Result-->
      <div id="advancedsearchresult-item" class="col-md-6 col-xs-12 col-lg-4" ng-repeat='result in advancedsearch.results'>
        
        <div class="card">
          <div class="card-image">
            <img class="img-responsive" ng-src="{[{result.imageLink}]}"/>
          </div>

          <div class="card-content">
            <h2 id="advanced-result-name">{[{result.name}]}</h2>
            <!--button class="btn btn-primary" ng-click="advancedsearch.addGame()">Add</button-->
          </div>

           <div class="card-action">
              <button class="btn btn-primary" ng-click="advancedsearch.addGame(result.gbGameId)">Add</button>
           </div>
        </div>
      </div>

  </div>
</div>
